<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ds.enovia.dseng.search.sample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ds.enovia.dseng.search.sample.Properties.Settings>
            <setting name="pua_passportURL" serializeAs="String">
                <value />
            </setting>
            <setting name="cua_passportURL" serializeAs="String">
                <value />
            </setting>
            <setting name="pba_passportURL" serializeAs="String">
                <value />
            </setting>
            <setting name="caa_passportURL" serializeAs="String">
                <value />
            </setting>
            <setting name="pua_enoviaURL" serializeAs="String">
                <value />
            </setting>
            <setting name="pua_username" serializeAs="String">
                <value />
            </setting>
            <setting name="pua_securitycontext" serializeAs="String">
                <value />
            </setting>
            <setting name="pua_password" serializeAs="String">
                <value />
            </setting>
            <setting name="cua_tenant" serializeAs="String">
                <value />
            </setting>
            <setting name="sel_platform_type" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sel_auth_method" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="pba_enoviaURL" serializeAs="String">
                <value />
            </setting>
            <setting name="pba_servicename" serializeAs="String">
                <value />
            </setting>
            <setting name="pba_username" serializeAs="String">
                <value />
            </setting>
            <setting name="pba_securitycontext" serializeAs="String">
                <value />
            </setting>
            <setting name="caa_enoviaURL" serializeAs="String">
                <value />
            </setting>
            <setting name="caa_serviceId" serializeAs="String">
                <value />
            </setting>
            <setting name="caa_tenant" serializeAs="String">
                <value />
            </setting>
            <setting name="caa_securityContext" serializeAs="String">
                <value />
            </setting>
            <setting name="cua_enoviaURL" serializeAs="String">
                <value />
            </setting>
            <setting name="cua_securitycontext" serializeAs="String">
                <value />
            </setting>
            <setting name="cua_username" serializeAs="String">
                <value />
            </setting>
            <setting name="cua_password" serializeAs="String">
                <value />
            </setting>
        </ds.enovia.dseng.search.sample.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ds.enovia.dscfg" publicKeyToken="74a474a382d131f6" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.2.0" newVersion="1.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ds.enovia" publicKeyToken="e202c4a29a6a20d8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.5.0" newVersion="1.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ds.enovia.common" publicKeyToken="0be2ec88375bad02" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.5.0" newVersion="1.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.2" newVersion="5.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ds.enovia.common" publicKeyToken="513675f2df5dca44" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ds.enovia" publicKeyToken="7f1a74a8103134cc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ds.authentication" publicKeyToken="c3fc1793effad22f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
